section.comments
  h2 REVIEWS
  .comments-parent#comment-parentId
    .container.comments-container
      img.customer-img(src='/img/customer.jpg' alt='')
      .comments__name Appu
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi iure odio, quod nisi facilis commodi ut sunt
        | ipsam, magnam eius repellat perferendis porro, iste voluptas!
      i.fas.fa-star.small-icon
      i.fas.fa-star.small-icon
      i.fas.fa-star.small-icon
      i.fas.fa-star.small-icon
      i.fas.fa-star.small-icon
    .container.comments-container
      img.customer-img(src='/img/customer2.jpg' alt='')
      .comments__name Priyal Maurya
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi iure odio, quod nisi facilis commodi ut sunt
        | ipsam, magnam eius repellat perferendis porro, iste voluptas!
      i.fas.fa-star.small-icon
      i.fas.fa-star.small-icon
      i.fas.fa-star.small-icon
      i.fas.fa-star.small-icon
      i.fas.fa-star.small-icon
    .container.comments-container
      img.customer-img(src='/img/customer3.jpg' alt='')
      .comments__name Atul Mahto
      p
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi iure odio, quod nisi facilis commodi ut sunt
        | ipsam, magnam eius repellat perferendis porro, iste voluptas!
      i.fas.fa-star.small-icon
      i.fas.fa-star.small-icon
      i.fas.fa-star.small-icon
      i.fas.fa-star.small-icon
      i.fas.fa-star.small-icon
