section.Input.fadeInUp
  h2 Do Not Worry, We will get you a new password :)
  .container_spacing
  .container__parent
    video.bg-video__content(autoplay='' muted='' loop='')
      source(src='Avocado.mp4' type='video/mp4')
      |         Your browser is not supported
    form.forgetPassword
      .entry
        .entry-text
          | Email
        input(type='email' name='email' placeholder= `Your Email`)
      .btn-parent
        a(href="")            
        button.forgetButton.btn.btn-full.form-button(type = 'submit') Get Password
        

      
        //- submit is added so that it is used as an event in login.js
