section.how-to
  h2 STEPS TO FOLLOW
  .howto-container
    img.iphone-img(src='Capture.PNG' alt='iphone-img' srcset='')
    .steps-container
      .step-container.clear-fix
        .step-val 1
        p.howto-para Choose the subscription plan that best fits your needs and sign up today.
      .step-container.clear-fix
        .step-val 2
        p.howto-para
          | Order your delicious meal using our mobile app or website. Or you can even call us!
      .step-container.clear-fix
        .step-val 3
        p.howto-para Enjoy your meal after less than 20 minutes. See you the next time!
