section.Input.fadeInUp
  h2 Login Page
  .container_spacing
  .container__parent
    video.bg-video__content(autoplay='' muted='' loop='')
      source(src='Avocado.mp4' type='video/mp4')
      |         Your browser is not supported
    form.login
      .entry
        .entry-text
          | Email
        input(type='email' name='email' placeholder='Your Email')
      .entry
        .entry-text
          | Password
        input(type = 'password' name='' placeholder='********')
      
      .btn-parent
        a(href="")            
        button.btn.btn-full.form-button(type = 'submit') Login
        a(href = "/forgetpassword") Forgot Password?

      
        //- submit is added so that it is used as an event in login.js
