extends base
block main
    section.signup
        h2 START EATING HEALTHY TODAY!
        -for(var i in plans)
            .signup-parent
                include plan
                include plan
                include plan

                