section.Input.fadeInUp
  h2 RESET PASSWORD PAGE :)
  .container_spacing
  .container__parent
    video.bg-video__content(autoplay='' muted='' loop='')
      source(src='Avocado.mp4' type='video/mp4')
      |         Your browser is not supported
    form.resetPassword
      .entry
        .entry-text
          | Email
        input(type='email' name='email' placeholder= `Your Email`)
      .entry
        .entry-text
          | Token
        input(type='text' name='token' placeholder= `Enter your token here`)  
      .btn-parent
      .entry
        .entry-text
          | New Password
        input(type='password' name='newpassword' placeholder= `********`)  
      .btn-parent
      .entry
        .entry-text
          | Confirm Password
        input(type='password' name='confirmpassword' placeholder= `********`)  
      .btn-parent
        a(href="")            
        button.resetButton.btn.btn-full.form-button(type = 'submit') Reset Password
        

      
        //- submit is added so that it is used as an event in login.js
