//-this is not the signup page but the signup part of the homepage 
section.signup
  block h2header
      h2 START EATING HEALTHY TODAY
  .signup-parent
    -for(var i = 0; i < 3; i++)
      include plan    
  //- .signup-parent
  //-   .signup-child
  //-     .signup-header
  //-       h3 PREMIUM
  //-       .signup-pricing
  //-         span.pricing $399
  //-         | /month
  //-         p That&rsquo;s only 13.30$ per meal
  //-     .signup-features
  //-       ul
  //-         li
  //-           i.fas.fa-check.small-icon  
  //-           | 1 meal every day
  //-         li
  //-           i.fas.fa-check.small-icon  
  //-           | Order 24/7
  //-         li
  //-           i.fas.fa-check.small-icon  
  //-           | Access to newest creations
  //-         li
  //-           i.fas.fa-check.small-icon  
  //-           | Free delivery
  //-       .signup-button
  //-         button.btn.btn-full(plan-id = `${plans[0]["_id"]}`) I&apos;m hungry
  //-   .signup-child.active
  //-     .signup-header
  //-       h3 PREMIUM
  //-       .signup-pricing
  //-         span.pricing $399
  //-         | /month
  //-         p That&rsquo;s only 13.30$ per meal
  //-     .signup-features
  //-       ul
  //-         li
  //-           i.fas.fa-check.small-icon  
  //-           | 1 meal every day
  //-         li
  //-           i.fas.fa-check.small-icon  
  //-           | Order 24/7
  //-         li
  //-           i.fas.fa-check.small-icon  
  //-           | Access to newest creations
  //-         li
  //-           i.fas.fa-check.small-icon  
  //-           | Free delivery
  //-       .signup-button
  //-         button.btn.btn-full(plan-id = `${plans[0]["_id"]}`) I&apos;m hungry
  //-   .signup-child
  //-     .signup-header
  //-       h3 PREMIUM
  //-       .signup-pricing
  //-         span.pricing $399
  //-         | /month
  //-         p That&rsquo;s only 13.30$ per meal
  //-     .signup-features
  //-       ul
  //-         li
  //-           i.fas.fa-check.small-icon  
  //-           | 1 meal every day
  //-         li
  //-           i.fas.fa-check.small-icon  
  //-           | Order 24/7
  //-         li
  //-           i.fas.fa-check.small-icon  
  //-           | Access to newest creations
  //-         li
  //-           i.fas.fa-check.small-icon  
  //-           | Free delivery
  //-       .signup-button
  //-         button.btn.btn-full(plan-id = `${plans[0]["_id"]}`) I&apos;m hungry
