section.Input.fadeInUp
  h2 Update Password Page
  .container_spacing
  .container__parent
    video.bg-video__content(autoplay='' muted='' loop='')
      source(src='Avocado.mp4' type='video/mp4')
      |         Your browser is not supported
    form.updatePassword( method = "POST" action = "/api/user/updatepassword" )
      .entry
        .entry-text
          | Current password
        input(type = 'password' name='password' placeholder='********')
      .entry
        .entry-text
          | New password
        input(type = 'password' name='newPassword' placeholder='********')
      .entry
        .entry-text
          | Confirm New password
        input(type = 'password' name='currentPassword' placeholder='********')
      
      .btn-parent
        a(href="")            
        button.btn.btn-full.form-button(type = 'submit') Update Password

      
        //- submit is added so that it is used as an event in login.js
